.landing {
  /* padding: 5rem 10rem; */
  justify-content: center;
  /* padding:5rem 0; */
  padding-top:5rem;
  /* width:60%;
  margin:auto; */
}
.description {
  color: var(--text-color);
  /* display: flex; */
  /* flex-direction: column; */
  /* flex: 1; */
  justify-content: center;
  max-width: 40%;
}
.name {
  font-size: 100px;
  text-align: center;
  font-family: "MagicRetro", serif;
  font-feature-settings: "liga" 1, "salt" 1, "ss01" 1, "swsh" 1;
  color: var(--text-color);
  text-shadow: 0 2px 0 rgba(0,0,0,.08);
  line-height:70px;
}
.general-text {
  text-align: center;
}
.photo {
  /* flex: 1; */
}
.arch-photo {
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  position: relative;
  margin-left:3rem;
}
.arch-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999px;
}

/* .arch-photo {
  width: 16rem;
  height: 20rem;
  margin: auto;
  position: relative;
  overflow: hidden;

  border-radius: 8rem 8rem 0 0;

  -webkit-mask-image: radial-gradient(
    ellipse at center,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0.5) 75%,
    rgba(0,0,0,0) 100%
  );
  mask-image: radial-gradient(
    ellipse at center,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0.5) 75%,
    rgba(0,0,0,0) 100%
  );
}

.arch-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
} */