.projects-sections {
  flex: 2;
}
.skills-and-projects {
  /* display: flex; */
  /* width: 90%; */
  margin: auto;
  margin-top: 3rem;
  gap:2rem;
  flex-wrap: wrap;
  justify-content: center;
  width:80%;
}
.skills {
  width: 10rem;
  flex: 1;
}
.projects-sections {
  border-radius: 5px 25px 25px 25px;
  filter: drop-shadow(
    0 0 0.75rem var(--folder-background)
  ); /* TODO: make this a lighter color */

  background: var(--folder-background);
  position: relative;
  padding: 1rem 4rem;
}
.project-card {
  /* height:20rem; */
  width: 100%;
  border-radius: 30px;
}
.projects-sections::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 200px;
  height: 25px;
  background: var(--folder-background);
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");
}
.projects-sections::after {
  content: "";
  position: absolute;
  left: 40px;
  width: 85px;
  height: 5px;
  top: -18px;
  background: var(--accent-yellow);
  border-radius: 0 0 5px 5px;
}
.project {
  margin-bottom: 1rem;
  color: var(--dark-text);
  /* height: 10rem; */
}
.project-image {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.project-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  /* border-radius: 0.25rem; */
  overflow: hidden;
  display: block;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.project-title-container {
  /* display: flex; */
  padding: 1rem 2rem 1rem 1rem;
}
.project-title {
  width: 100%;
  display: block;
  font-size: var(--subheading-font-size);
  /* font-family: "MagicRetro", serif; */
  font-weight: 600;
  text-decoration: underline;
}
.project-description {
  font-size: var(--general-font-size);
  padding: 1rem;
}
.project-tech-stack {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}
.project-skill {
  text-transform: uppercase;
  font-size: var(--general-font-size);
  /* color:var(--dark-teal-text); */
  font-weight: 600;
  /* border-bottom:1px solid var(--dark-purple-text); */
}

.project-link-button{
  margin-bottom:1rem;
  margin-right:1rem;
  margin-left:auto;
}


.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -30px; 
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; 
  background-clip: padding-box;
}

.my-masonry-grid_column > div { 
  margin-bottom: 30px;
}

.project {
  transition: transform 0.2s ease-out;
}
.project:hover {
  transform: scale(0.97);
}
.project:active {
  transform: scale(0.94);
}