.projects-sections {
  flex: 2;
}
.projects-sections {
  border-radius: 5px 25px 25px 25px;
  filter: drop-shadow(
    0 0 0.75rem var(--folder-background)
  ); /* TODO: make this a lighter color */

  background: var(--folder-background);
  position: relative;
  padding: 1rem 4rem;
}

.projects-sections::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 200px;
  height: 25px;
  background: var(--folder-background);
  border-radius: 25px 0 0 0;
  clip-path: path("M 0 0 L 160 0 C 185 2, 175 16, 200 18 L 0 50 z");
}
.projects-sections::after {
  content: "";
  position: absolute;
  left: 40px;
  width: 85px;
  height: 5px;
  top: -18px;
  background: var(--accent-yellow);
  border-radius: 0 0 5px 5px;
}
.project {
  margin-bottom: 1rem;
  color: var(--dark-text);
  height: 10rem;
}
.project-image {
  float: inline-start;
  background-color: red;
  /* width:15rem; */
  height: 100%;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}
.project-image > img {
  /* width: 7rem; */
  height: 100%;
  object-fit: contain;
  object-position: center;
  /* border-radius: 0.25rem; */
  overflow: hidden;
  display: block;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}
.project-title-container {
  display: flex;
  padding: 1rem 2rem 1rem 1rem;
}
.project-title {
  width: 100%;
  display: block;
  font-size: var(--subheading-font-size);
   /* font-family: "MagicRetro", serif; */
   font-weight: 600;
}
.project-description {
  /* width: 100%; */
  display: inline;
  font-size: var(--general-font-size);
  padding: 0 1rem;
}
.project-tech-stack {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.project-skill {
  text-transform: uppercase;
  font-size: var(--general-font-size);
  /* color:var(--dark-teal-text); */
  font-weight: 600;
  /* border-bottom:1px solid var(--dark-purple-text); */
}
