.navigation-bar{
    /* background-color: red; */
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding:0 2rem;
    gap:1rem;
    padding-top:1rem;
}

/* TODO - change this */
/* .custom-btn {
  background: var(--accent-beige);         
  color: var(--dark-purple-text);                  
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: var(--general-font-size);
  padding: 6px 18px;
  border: none;
  border-radius: 999px;           
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: all 0.25s ease;
  height:2rem;
}

.custom-btn:hover {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
  transform: translateY(-1px);
}

.custom-btn:focus {
  outline: none;
} */

.custom-btn {
  background: transparent;
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: var(--general-font-size);
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--text-color);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: var(--text-color);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
   font-family: "Quantico", sans-serif;
}

.custom-btn span {
  margin: 10px;
}

.custom-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.custom-btn:hover {
  color: var(--text-color);
  border: 1px solid var(--accent-yellow);
}

.custom-btn:hover::before {
  box-shadow: inset 0 0 0 10em var(--accent-yellow);
}
 

/* download resume button */

.cta {
  position: relative;
  padding: 10px 20px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
   font-family: "Quantico", sans-serif;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--accent-yellow);
  width: 38px;
  height: 38px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  /* font-family: "Ubuntu", sans-serif; */
  font-size: var(--general-font-size);
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--text-color);
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--accent-yellow);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: var(--accent-yellow);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
