#footer{
    display:flex;
    flex-direction: column;
    gap:1rem;
    color:var(--text-color);
    fill:var(--text-color);
    margin:2rem 4rem;
}
.footer-item{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size:var(--subheading-font-size);
}