#footer{
    display:flex;
    flex-direction: column;
    gap:1rem;
    color:var(--text-color);
    fill:var(--text-color);
    height: 300px;
    justify-content: center;
}
.footer-item{
    display: flex;
    align-items: center;
    gap:0.5rem;
    font-size:var(--subheading-font-size);
    padding-left:5rem;
}
.footer-spacer{
    /* padding-bottom:3rem; */
}
.thread-react-cont{
    height:300px;
    position: absolute;
    /* position: relative; */
    width:100%;
}
.threads-container{
    /* position: absolute !important; */
    /* height:fit-content !important; */
    /* top:-2rem; */
}